html {
  width: 100%;
}

body {
  width: 100%;
  font-size: 100%;
  background-image: url("images/tree.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

div {
  border: 3px solid black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

ul {
}

li {
  font-size: 1.3em;
}

a {
  font-size: 100%;
}

p {
  font-size: 100%;
}

/*@media only screen and (min-width: 750px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  li {
    font-size: 2.4em;
  }
}*/

@media only screen and (min-width:1000px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.1em;
  }

  li {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }
}
