#header {
  width: 80%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 3em;
}

h1 {
  width: 90%;
  margin: 10px auto;
}

#nav {
  padding-bottom: 2em;
  width: 90%;
  margin: auto;
}

ul {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

li {
  display: inline-block;
  width: 30%;
}

.menu-button {
  width: 34%;
  margin: auto;
  text-align: center;
  margin-top: 1.5em;
}

.about-me {
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
}

p {
  text-align: center;
  margin: 1em;
}

.projects {
  width: 80%;
  margin: auto;
  height: 4em;
}
