#header {
  width: 80%;
  margin: auto;
  margin-top: 5em;
}

h1 {
  width: 80%;
  margin: 10px auto;
}

#nav {
  padding-bottom: 2em;
  width: 78%;
  margin: auto;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  display: inline;
  margin-left: .3em;
}

.show-menu {
  margin-left: 7em;
}
