ul {
  display: none;
}

h1 {
  text-align: center;
}

.show-menu, .hide-menu, a {
  text-decoration: none;
  color: black;
}

.menu-button {
  border: none;
}

.about-me {
  /*display: none;*/
}

.projects {
  /*display: none;*/
}
