ul {
  display: none;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
}

.show-menu, .hide-menu, a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}

.menu-button {
  border: none;
}

.about-me {
  font-family: 'Roboto', sans-serif;
  display: none;
}

.projects, .contact {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: none;
}

#header {
  display: none;
}

#header, .about-me, .projects, .contact {
  background-color: white;
  background-image: url("images/border.png");
  background-size: 100% 100%;
}
